@media all and (max-width:1000px){
    .main1{
        font-size: medium;
    }
    .icons{
        flex-wrap: wrap;
    }
    .gif1{
        height: 100px;
        width: 150px;
    }
    

}
@media all and (max-width:670px){

    .main1{
        font-size: small;
    }
    .icons{
        flex-wrap: wrap;
    }
    .gif1{
        height: 80px;
        width: 120px;
    }
    .button1,.button2,.button3{
        width: 100%;
    }
}